.nav-list{
    display: flex;
    flex-direction: column;
    list-style-type: none; 
    margin: 0;
}
.nav-list-element{
    padding: 1rem; 
    h2{
        margin-bottom: 0;
    }
    span{
        font-size: .8rem;
        font-style: italic;
    }
}
.nav-list-element:hover{
    background: #e4e4e4;
    transition: 2s;
}
.nav-list-item{
    text-decoration: none;
    color: black;
}